/* github octocat icon */


/* Original source from here: */


/* https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  background: silver url('https://weichiachang.github.io/easter-eggs-mobile/images/playstation-pattern.png') fixed;
}

.container {
  font-family: 'Walter Turncoat', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 40%;
  line-height: 2.1em;
  text-align: justify;
}

.gif-click {
  color: #69c773;
  font-weight: bolder;
  background: #eeeeee;
  border: 2px solid #d0d0d0;
  padding: 1px 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 4%;
}

#share-buttons {
  text-align: center;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 1.2em;
}

.title {
  text-align: center; 
  font-size: 28px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .card {
    width: 80%;
    /* margin: 0 auto; */
  }
}